.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  background-color: rgba(43, 51, 57, 0.224);
  color: #ffffffae;
  font-size: 14px;
  position: relative;
  z-index: 10;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  margin-left: 25px;
  font-size: 22px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #fff;
}

.footer-left small {
  font-size: 13px;
}

@media (max-width: 600px) {
 .footer-left small {
  font-size: 11px;
}
  .footer a {
   font-size: 18px;
   margin-left: 15px;
}
}
